<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <title>IPMP General Fit</title>
    <head>
        <link rel="stylesheet" href='{%  static "js/webix/codebase/webix.css" %}' type="text/css">
        <script src="{%  static 'js/webix/codebase/webix.js' %}" type="text/javascript"></script>
        <script src="{%  static 'js/library.js' %}" type="text/javascript"></script>
        <script src="{%  static 'js/jquery-3.0.0.js' %}" type="text/javascript">

        </script>
    </head>
    <!-- <a href = "/">Home</a> -->
    <body>
    <script type="text/javascript" charset="utf-8">
        var model = "None";

        var data_points = [
            { id: 1, time_input: 0, conc_input:0, conc_input2: null},
            { id: 2, time_input: 1, conc_input:1, conc_input2: null},
            { id: 3, time_input: 2, conc_input:2, conc_input2: null},
            { id: 4, time_input: 3, conc_input:3, conc_input2: null},
            { id: 5, time_input: 4, conc_input:4, conc_input2: null},
            { id: 6, time_input: 5, conc_input:2, conc_input2: null},
            { id: 7, time_input: 6, conc_input:0, conc_input2: null},
            { id: 8, time_input: null, conc_input:null, conc_input2: null},
            { id: 9, time_input: null, conc_input:null, conc_input2: null},
            { id: 10, time_input: null, conc_input:null, conc_input2: null},
            { id: 11, time_input: null, conc_input:null, conc_input2: null},
            { id: 12, time_input: null, conc_input:null, conc_input2: null},
            { id: 13, time_input: null, conc_input:null, conc_input2: null},
            { id: 14, time_input: null, conc_input:null, conc_input2: null},
            { id: 15, time_input: null, conc_input:null, conc_input2: null},
            { id: 16, time_input: null, conc_input:null, conc_input2: null},
            { id: 17, time_input: null, conc_input:null, conc_input2: null},
            { id: 18, time_input: null, conc_input:null, conc_input2: null},
            { id: 19, time_input: null, conc_input:null, conc_input2: null},
            { id: 20, time_input: null, conc_input:null, conc_input2: null},
            { id: 21, time_input: null, conc_input:null, conc_input2: null},
            { id: 22, time_input: null, conc_input:null, conc_input2: null},
            { id: 23, time_input: null, conc_input:null, conc_input2: null},
            { id: 24, time_input: null, conc_input:null, conc_input2: null},
            { id: 25, time_input: null, conc_input:null, conc_input2: null},
            { id: 26, time_input: null, conc_input:null, conc_input2: null},
            { id: 27, time_input: null, conc_input:null, conc_input2: null},
            { id: 28, time_input: null, conc_input:null, conc_input2: null},
            { id: 29, time_input: null, conc_input:null, conc_input2: null},
            { id: 30, time_input: null, conc_input:null, conc_input2: null},
            { id: 31, time_input: null, conc_input:null, conc_input2: null},
            { id: 32, time_input: null, conc_input:null, conc_input2: null},
            { id: 33, time_input: null, conc_input:null, conc_input2: null},
            {id: 34, time_input: null, conc_input: null, conc_input2: null}
        ];
        var updatedData = [];
        webix.ui({

            rows:[
                {view: "toolbar", height: 60, id:"main_toolbar", elements:[
                    {view: "button", value: "Home", width: 65,  click:"location.href = '/' "},
                    {view: "button", value: "Tutorial", width: 65, click: "tutorial();"},
                    {view:"uploader", id: "open_file", value:"Open", width: 65, accept: "text/plain, text/csv" , on: {
                        onAfterFileAdd: function(file_struct){
                          importData(file_struct);
                        }
                    }},
                    {view: "button", value:"Add Rows", width: 90, click:"addRows()"},
                    {view:"menu", autowidth: true, data:[
                        {id: "models", value: "Models",  submenu:[
                            {id: "inc_models", value: "Incomplete", submenu:[
                                {id: "No_lag", value: "No Lag Phase"},
                                {id: "R_huang", value: "Reduced Huang"},
                                {id: "R_baranyi", value: "Reduced Baranyi"},
                                {id: "R2_buchanan", value: "Two Phase Buchanan"}
                            ]},
                            {id: "full_models", value: "Full", submenu:[
                                {id: "Gompertz", value: "Gompertz"},
                                {id: "Huang", value: "Huang"},
                                {id: "Baranyi", value: "Baranyi"},
                                {id: "Buchanan", value: "Buchanan"}
                            ]},
                            {id: "sur_models",value: "Survival", submenu:[
                                {id: "S_linear", value: "Linear"},
                                {id: "S_linshoulder", value: "Linear with Shoulder"},
                                {id: "S_gompertz", value: "Gompertz"},
                                {id: "S_weibull", value: "Weibull"},
                                {id: "S_mafart", value: "Weibull-Mafart"},
                                {id: "SR2_buchanan", value: "Buchanan Two-Phase"},
                                {id: "S3_buchanan", value: "Buchanan Three-Phase"}
                            ]},
                            {id: "sec_models", value: "Secondary", submenu:[
                                {id: "D_Arrhenius_full", value: "Arrhenius Full Range"},
                                {id: "D_Arrhenius_sub", value: "Arrhenius Sub Range"},
                                {id: "D_Cardinal_full", value: "Cardinal Full Range"},
                                {id: "D_Huang_full_temp", value: "Huang Full Range"},
                                {id: "D_Huang_sub_temp", value: "Huang Sub Range"},
                                {id: "D_Ratkowsky_full", value: "Ratowsky Full Range"},
                                {id: "D_Ratkowsky_sub", value: "Ratowsky Sub Range"}
                            ]}
                       ]}
               ],
               type: {
                   subsign: true
               },
                on: { onMenuItemClick: function(id){
                    //if either of the linear survival models, no input is needed, straight to server-side
                    if(id == "S_linear" || id == "S_linshoulder") {
                        model = id;
                        $$("data_chart").clearAll();
                        hide();
                        changeSliders(0,[])
                        if(id == 'S_linear'){
                            $$('header9').show()
                        }
                        else{
                            $$('header10').show()
                        }
                        submitModel(id);
                    }
                    else{
                        $$("data_chart").clearAll();
                        initialModel(id);
                    }
                }
                }},

               {view: "template", id:"header", type:"header", template: "Gompertz Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header2", type:"header", template: "Huang Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header3", type:"header", template: "Baranyi Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header4", type:"header", template: "Buchanan Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header5", type:"header", template: "No Lag Logarithmic Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header6", type:"header", template: "Reduced Huang Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header7", type:"header", template: "Reduced Baranyi Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header8", type:"header", template: "Two-Phase Buchanan Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header9", type:"header", template: "Survival Linear Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header10", type:"header", template: "Survival Linear with Shoulder Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header11", type:"header", template: "Survival Gompertz Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header12", type:"header", template: "Survival Weibull Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header13", type:"header", template: "Survival Weibull-Mafart Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header14", type:"header", template: "Survival Two-Phase Buchanan Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header15", type:"header", template: "Survival Three-Phase Buchanan Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header16", type:"header", template: "Arrhenius Square-root Model (Full)", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header17", type:"header", template: "Arrhenius Square-root Model (Sub)", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header18", type:"header", template: "Cardinal Square-root Model", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header19", type:"header", template: "Huang Square-root Model (Full)", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header20", type:"header", template: "Huang Square-root Model (Sub)", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header21", type:"header", template: "Ratowsky Square-root Model (Full)", align: "left", borderless:true, hidden: true},
               {view: "template", id:"header22", type:"header", template: "Ratowsky Square-root Model (Sub)", align: "left", borderless:true, hidden: true},



               {view: "button" ,width:150, align: "right", value: "Plot", click: "dataIsValid();plotData()"},
               {view: "button", width:150, align: "right", value: "Model Output", click: "$$('data_chart').clearAll(); initialModel('Gompertz')"}
               ]},
                {cols:[
                    {rows:[
                        {view: "datatable",
                        id: "input_table",
                        columns: [
                           {id: "time_input", editor: "text", header: "Time", width: 120},
                           {id: "conc_input",editor: "text", header: "Conc.", width: 100}],
                        editable: true,
                        editaction: "dblclick",
                        width:250,
                        height:250,
                        clipboard: "block",
                        //currently set to row, to group x and y values together-----to make it for each value set to "cell"
                        select: "row",
                        multiselect: true,
                        blockselect: true,
                        data: data_points

                       // select: "cell",
                       // on: {'onMouseOut': function(){$$("input_table").unselect(data_points[data_points.length].id)}}
                        },

                        {view: "toolbar", id:"toolbar", elements:[
                            {view:"button", value:"Submit Data", width:120 , click:" dataIsValid()"},
                            {view:"button", value:"Clear Data", width:120 , click:"clearData()"}


                        ]},
                        {rows:[
						    {view:"form", id:"slider_input",padding:7,elements:[
                                { view:"slider", id: "s1",type:"alt", min:0, max:10,step:.5, label:"\u03BC max",
                                    value:"1", name:"s1", title:webix.template("#value#"), height:30, hidden: true},
                                { view:"slider",id: "s2", type:"alt",  step: .5 ,max: 10,label:"\u03BB (Lag)",
                                    value:"1", name:"s2", title:webix.template("#value#"), height:30, hidden: true},
                                { view:"slider", id: "s3",type:"alt", min:0, max:10,step:.5, label:"\u03BC max",
                                    value:"1", name:"s3", title:webix.template("#value#"), hidden: true, height:30},
                                { view:"slider", id: "s4",type:"alt", min:0, max:10,step:.5, label:"\u03BC max",
                                    value:"1", name:"s4", title:webix.template("#value#"), hidden: true, height:30},
                                { view:"slider", id: "s5",type:"alt", min:0, max:10,step:.5, label:"\u03BC max",
                                    value:"1", name:"s5", title:webix.template("#value#"), hidden: true, height:30}

                                ]
                            },
						    {view:"form", id:"insert_input",padding:7, elements:[{
                                type: "clean",
                                rows: [
                                    {
                                        view: "fieldset", label: "Parameters", body: {
                                        rows: [
                                            {view: "text", id: "f1", label: "\u03BC max", value: "1", name: "s1", hidden: true},
                                            {view: "text", id: "f2", label: "\u03BB (Lag)", value: "1", name: "s2", hidden: true},
                                            {view: "text", id: "f3", label: "\u03BB (Lag)", value: "1", name: "s3", hidden: true},
                                            {view: "text", id: "f4", label: "\u03BB (Lag)", value: "1", name: "s4", hidden: true},
                                            {view: "text", id: "f5", label: "\u03BB (Lag)", value: "1", name: "s5", hidden: true}
                                        ]
                                    }
                                    },
                                    {
                                        view: "button",
                                        type: "form",
                                        id: "model_submit",
                                        label: "Model Submit",
                                        click: "submitModel()"
                                    }
                                ]
                            }]
                            }
                        ]}
                    ]},
                    {rows:[
                        {view:"chart",
                        height: 297,
                        id: "data_chart",
                        type:"scatter",
                        xValue:"#time_input#",

                        origin: 0,
                        yAxis:{
                            title:"CFU/g",
                            start: 0,
                            stop: 10,
                            step: 1
                        },
                        xAxis:{
                            title:"Time (h)"
                        },
                        series: [
                            {
                            value: "#conc_input2#",
                            item: {
                                radius: 1,
                                color: "FireBrick",
                                borderWidth: .01,
                                borderColor: "Black"
                            },
                            tooltip: {
                                template: "#conc_input2#"
                            }
                        },
                            {item: {
                                radius: 5,
                                type: "d",
                                color: "DarkGreen"
                            },
                            value: "#conc_input#",
                            tooltip: {
                                template: "#conc_input#"
                            }
                            }
                        ],

                        data: updatedData,
                        isVisible:false
                        },
                        {view: "toolbar", elements:[
                            {view: "button", width: 100, align: "right",   label: "Clear Reports", click: function(){
                                webix.confirm({
                                    ok: "Yes",
                                    cancel: "No",
                                    type: "alert-warning",
                                    text: "Are you sure you want to clear the report?",
                                    callback: function(result){
                                    //if they clicked ok ("yes")
                                        if(result == true){
                                            $$("output_table").clearAll();
                                            $$("export_table").setValue("No report");
                                        }
                                    }
                                });
                            }},
                            {view: "menu", autowidth: true, data: [
                                {id: "save",  value: "Save", submenu: [
                                    {id: "reports", value: "Save Reports"},
                                    {id: "chart", value: "Save Chart"},
                                    {id: "data", value: "Save Data"}
                                ]}
                            ],
                            type: {
                                subsign: true,
                                height: 45
                            },
                            on: { onMenuItemClick: function(id){
                                    //if either of the linear survival models, no input is needed, straight to server-side
                                    if(id == "reports") {
                                        saveReport();
                                    }
                                    else if(id == "chart"){
                                        saveChart();
                                        //webix.toPNG($$('data_chart'));
                                    }
                                    else if(id == "data"){
                                        saveData();
                                        //webix.toExcel($$('input_table'));
                                    }
                                }
                            }}
                            /*{view: "button", width: 100, align: "right",  label: "Save Reports", click: "saveReport();"},
                            {view: "button", width: 100, align: "right", label: "Save Chart", click: function(){
                                webix.toPNG($$('data_chart'));
                            }}*/

                        ]},
                        //hidden datatable to allow exporting to PDF appropriately
                        {view: "datatable",
                            id: "output_table",
                            hidden: true,
                            resizeRow: true,
                            resizeColumn: true,
                            datatype: "html",
                            columns:[
                                {id: "text_output"}
                            ]
                        },//displays desired reports
                            {view: "textarea",
                            id: "export_table",
                            readonly: true,
                            value: "No report",
                            placeholder: "No report",
                            datatype: "html",
                            height: 200,
                            columns:[
                                {id: "text_export", header: "Reports"}
                            ],

                            editable: false}
                    ]}
                ]}

            ]
        });





        var changes1 = $$('s1').attachEvent("onSliderDrag", function(){
            get();
            if(model != null) {
                plotData();
                initialModel(model);
            }
        });


        var changes2 = $$('s2').attachEvent("onSliderDrag", function(){
            get();
            if(model != null) {
                plotData();
                initialModel(model);
            }
        });

        var changes3 = $$('s3').attachEvent("onSliderDrag", function(){
            get();
            if(model != null) {
                plotData();
                initialModel(model);
            }
        });

        var changes4 = $$('s4').attachEvent("onSliderDrag", function(){
            get();
            if(model != null) {
                plotData();
                initialModel(model);
            }
        });

        var changes5 = $$('s5').attachEvent("onSliderDrag", function(){
            get();
            if(model != null) {
                plotData();
                initialModel(model);
            }
        });



        // updates model if sliders are manipulated
        var changeSlider = $$('insert_input').attachEvent("onChange", function(){
            set();
            if(model != null) {
                plotData();
                initialModel(model);
            }
        });






    </script>
    <img src= "{% static 'img/USDA_logo.png' %}" style="width: 108px;height: 75px;margin-left: 30px;margin-top: 20px"/>
    <img src= "{% static 'img/ARS_logo.png' %}" style="width: 108px;height: 70px;margin-top: 30px; margin-left: 15px"/>
    </body>
    <style type = "text/css">
        .my_style{
            background: #ff7b82;
        }
        .no_style{
            background: #ffffff;
        }
    </style>
</html>
